<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Vai col lissio!</title>

  <script src="js/json2.js"></script>
  <script src="js/sizzle.js"></script>

  <%= lissio 'app' %>
</head>
<body>
</body>
</html>
